body {
    margin: 0 auto;
    background-color: black;
    font-family:  Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    transition: all 1s ease;
}
html {
    scroll-behavior: smooth;
}
 * {
    box-sizing: border-box;
}




/* Stile per contenuti principale */
.main-style{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-text{
    font-size: small;
    color: #F1EFED;
}

.tooltip .tooltiptext{
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

/* Stili per l'header */
#main-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #D03D12;
    display: flex;
    padding: 20px;

}

#main-header a{
    color: white;
    text-decoration: none;
}

/*  Quando scroll down */
.header-small {
    padding: 5px;
    font-size: 10px;
}


#header-logo {
    float: left;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

.header-links {
    position: relative;
    font-size: 13px;
    float: right;
    padding: 10px;
}

#link-abbonamento *{
    text-decoration: underline;
    text-underline-offset: 4px;


}
#reg-button{
    background-color: white;
    margin: 0 5px;
}

#reg-button > * {
    color: #D03D12;
}

#navigation-bar {
    margin-bottom: 1px;
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: small;
    background-color: #1F1E1C;
    color: #F1EFED;
}

#navigation-bar * {
    align-items: center;
}

#navigation-bar nav{
    display: flex;
    justify-content: space-between;
}
#navigation-bar a {
    color: #F1EFED;
    text-decoration: none;
}

#nav-menu {
    display: flex;
    justify-self: start;
    border-right: 1px dashed;
    padding-right: 8px;
    margin-top: 2px;
}

#nav-menu > * {
    margin-right: 10px;
}

#nav-search {
    display: flex;
    justify-self: end;
    margin-top: 2px;
    border-left: 1px dashed;
    padding-left: 8px;
}

.scroll-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
    overflow-x: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 6px;
}

.scroll-container  * {
    margin-right: 10px;
    margin-left: 10px;
    flex:0 0 auto;
    color: #F1EFED;
}

.scroll-button {
    align-self: center;
    display: inline-block;
    background-color: #1F1E1C;
}

#navigation-bar .scroll-button {
    padding-left: 5px;
    padding-right: 5px;
}



.scroll-button:focus {
    outline: none;
}

.scroll-container::-webkit-scrollbar{
    display: none;
}

#nav-main {
    padding-right: 3px;
    padding-left: 3px;
    margin: 2px;
}

#navigation-bar .scroll-container a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #cecece;
}


#nav-search:hover {
    text-decoration: none;
}

#rn-content {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1px;
    color: #F1EFED;
}

#rn-content > div{
    display: flex;
    flex-direction: column;
    padding:10px 16px;
    flex: 0 0 30%;
    height: 100%;
    font-weight: bolder;
    font-size: 14px;
}


.publication-time {
    font-size: 10px;
    color: #cecece;
}
.news-divisor{
    align-self: center;
    border-right: 1px dotted white;
    height: auto;
}



/* Classe articoli */
article {
    display: flex;
    background-color: #1F1E1C;
    flex-direction: row;
    padding: 16px 24px;
    margin: 15px 0;
    border-radius: 8px;
}

article img{
    background-color: #1F1E1C;
    max-width: 100%;
    height: auto;
}




/* Articoli con immagine più grande */
article.big-img > img {
    flex: 2;
    padding-left: 10px;
}

article h1 {
    font-size: 36px;
    font-weight: bold;
}
article p {
    font-size: 16px;
}


#front-article {
    flex-direction: column-reverse;
}


.small-article {
    display: flex;
    flex-direction: column;
    padding: 16px 25px;
    background-color: #1F1E1C;
}

.small-article h1 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
}


#articles-group {
    padding: 16px 25px;
    border-radius: 8px;
}

#articles-group > article {
    padding: 5px 0;
    border-radius: 0;
    border-bottom: 1px solid #cecece;
}


#sub-group {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#sub-group > article {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 8px 13px;
    border-right: 1px solid #cecece;
}

#stories {
    margin-top: 15px;
    margin-bottom: 15px;
}

#stories {
    border-radius: 5px;
    padding-top: 10px;
    background-color: #1F1E1C;

}

#stories header {
    color: #D03D12;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 10px;
}
#stories-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    overflow-x: auto;
}

#stories-content::-webkit-scrollbar{
    display: none;
}

/* Elementi Stories */
#stories-content .scroll-container > div {
    height: 255px;
    padding: 7px;
    flex: 0 0 168px;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: stretch;
    justify-content: flex-end;
    overflow-x: auto;
    background-size: cover;
    background-repeat:  no-repeat;
    background: linear-gradient(to top, #1F1E1C, transparent), url("https://picsum.photos/168/265");
    background-position: center;

}
#stories-content .scroll-container > div > img{
    position: absolute;
    z-index: -1;
}

#stories-content .scroll-container > div > p{
    z-index: 1;
}

#stories-content .scroll-button{
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1F1E1C;
    z-index: 5;
}

/* TODO DA RISCRIVERE/RIVEDERE */
#stories-content .scroll-button-left {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

#stories-content .scroll-button-right {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}


#stories-title{
    position: absolute;

}

#stories-content .scroll-container  p{
    padding-left: 0;

    text-align: left;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 1rem;

}

i {
    cursor: pointer;
}

#footer-content {

    background-color: #2F2D2B;
}

#footer-content nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10px;
}
#footer-content a {
    text-decoration: none;
}

img {
    justify-self: center;
}

@media screen and (max-width: 500px) {
    .main-style {
        width: 100%;
    }




    #header-logo {
        font-size: 27px;
    }



    #navigation-bar {
        overflow-x: auto;
    }

    #rn-content {
        overflow-x: auto;
    }

    #rn-content > div {
        height: initial;
        flex: 0 0 70%;
        font-size: large;
    }

    article {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
    }

    .header-small #header-logo {
        font-size: 17px;
    }

    #navigation-bar .scroll-button {
        display: none;
    }

    #sub-group {
        flex-direction: column;
    }

    #sub-group > article {
        border-right: none;
    }

    #stories .scroll-container > div {
        height: 212px;
        flex: 0 0 140px;
    }

    main > * {
        margin: 0 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    #link-abbonamento {
        display: none;
    }
    #reg-button {
        display: none;
    }
}
