body {
    margin: 0 0;
    background-color: black;
    color: white;
}

/* Stile per contenuti principale */
.main-style{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1020px) {
    .fixed-image-article {
        display: block;
        background-color: black;
        width: 100%;
        height: 464px;
        position: relative;
        picture {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        div {
            background-color: #1F1E1C;
            padding: 30px;
            width: 336px;
            position: absolute;
            bottom: 50px;
            left: 50px;
            z-index: 2;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow-x: auto;
}
.scroll-container  * {
    flex:0 0 auto;
    color: #F1EFED;
}

.scroll-button {
    align-self: center;
    display: inline-block;
    background-color: #1F1E1C;
}

.scroll-button:focus {
    outline: none;
}

.scroll-container::-webkit-scrollbar{
    display: none;
}


/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1F1E1C;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    > * {
        margin: 8px 15px;
    }

}
#closebtn{
    align-self: flex-end;
}

.sidebar a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #F1EFED;
    transition: 0.3s;
}

.sidebar a:hover * {
    color: #D03D12;
}


main {
    margin-left: 0;
    transition: margin-left .5s;
}

#main-header {
    padding: 15px 0;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #D03D12;
    transition: all 0.5s;
}

#main-header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-header * {
    transition: all 0.5s;
}

#main-header a {
    color: white;
    text-decoration: none;
}

#header-logo {
    margin-left: 8px;
    font-size: 35px;
    font-weight: bold;
}

#header-menu-symbol {
    width: 0;
    display: inline;
    visibility: hidden;
    transition: width 1s ease;
}

#header-buttons > a {
    font-size: 13px;
    padding: 10px;
}

#link-iscrizione span {
    text-decoration: underline;
    text-underline-offset: 4px;
}

#reg-button {
    background-color: white;
    margin: 0 5px;
    border-radius: 2px;
}

#reg-button > * {
    color: #D03D12;
}


/* Stile per l'header quando scroll down*/
#main-header.scrolled {
    padding: 10px 0;
    * {
        font-size: 20px;
    }
}


/* Barra di Navigazione */
#navigation-bar {
    margin-bottom: 2px;
    padding: 20px 0;
    font-size: 14px;
    background-color: #1F1E1C;
    color: #F1EFED;
}

#navigation-bar a {
    color: #F1EFED;
    text-decoration: none;

}

#navigation-bar  .scroll-container i {
    font-weight: bold;
    color: #F1EFED
}

#nav-menu {
    display: flex;
    justify-self: start;
    flex-direction: row;
    align-items: center;
    > span {
        padding:0 8px;
        border-right: 1px dashed rgba(241, 239, 237, 0.73);
    }
    :hover {
        cursor: pointer;
    }
}

#nav-search {
    display: flex;
    justify-self: end;
    justify-content: space-between;
    margin-top: 2px;
    border-left: 1px dashed;
    padding-left: 8px;
    button {
        margin-left: 20px;
        background-color: #1F1E1C;
    }

}

#nav-search input[text]{
    background-color: #2F2D2B;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #F1EFED;
    :focus {
        border: 0;
    }
}

#nav-search:hover {
    text-decoration: none;
}

#navigation-bar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation-bar nav li {
    display: inline;
    padding: 0 6px;
    margin-right: 4px;
}

#navigation-bar .scroll-button {
    padding-left: 5px;
    padding-right: 5px;
}

#nav-main {
    padding: 0 3px;
}

#navigation-bar .scroll-container a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #cecece;
}

#mobile-nav {
   display: none;

}

#rn-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    overflow: auto;
    color: #F1EFED;
}

#rn-content > div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    flex: 0 0 30%;
    font-weight: bolder;
    border-right: 1px dashed rgba(206, 206, 206, 0.61);
    font-size: 14px;
}

#rn-content > div:last-child {
    border-right: none;
}

.publication-time {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #cecece;
}


/* Classe articoli */
article {
    display: flex;
    flex-direction: row;
    background-color: #1F1E1C;
    padding: 16px 24px;
    margin: 15px 0;
    border-radius: 6px;
    color: #F1EFED;
    > * {
        flex: 1;
    }
}

article h1 {
    order:2;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;

}
article h2 {
    order: 1;
    font-size: 16px;
}
article h1 h2 {
    font-family: 'Roboto', sans-serif;

}
article p {
    order: 3;
    font-size: 16px;
}
article img{
    max-width: 100%;
}

/* Articoli con immagine più grande */
article.big-img-article {
    > picture, img {
        margin: 0 auto;
        flex: 2;
        width: 100%;
        height: 100%;
    }
     p {
        font-size: 20px;
         flex:1;
    }
}

article div {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 10px;
}

article footer {
    order: 4;
}

#front-article {
    flex-direction: column-reverse;
}


.small-article {
    display: flex;
    flex-direction: column;
}
.small-article header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    > * {
        flex-shrink: 1;
    }
}
.small-article header img {
    width: 90px;
    align-self: center;
    border-radius: 50%;
    margin-left: 5px;
    max-width: 100%;
    height: auto;
}
.small-article header h1 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
}
.small-article header h2 {
    display: inline-block;
}


#articles-group {
    background-color: #1F1E1C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 24px;
    border-radius: 5px;
}
#articles-group > * {
    margin: 0 0;
    border-radius: 0;
    border-bottom: 1px dashed #cecece;
}

#sub-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    > div {
        padding: 0;
        border-right: 1px dashed #cecece;
    }
}
#sub-group article {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    border-radius: 0;
    h1 {
        font-size: 23px;
    }
    h2 {
        font-size: 14px;
    }
}


#sub-group > div:last-child {
    border-right: none;
}

.centered-article {
    display: flex;
    flex-direction: column-reverse;

    padding: 16px 24px;
    margin: 15px 0;
    border-radius: 6px;
    color: #F1EFED;
    > picture, img {
        flex: 2;
    }
    > div {
        align-self: center;
        align-items: center;
        margin: 0 20px;
        padding: 10px 30px;
        position: relative;
        bottom: 70px;
        background-color: #1F1E1C;
        footer {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #cecece;
        }
    }

}


#stories {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 16px 24px;

    background-color: #1F1E1C;

}

#stories header {
    color: #D03D12;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
}
#stories-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    overflow-x: auto;
}

#stories-content::-webkit-scrollbar{
    display: none;
}

/* Elementi Stories */
#stories-content .scroll-container > div {
    height: 255px;
    padding: 7px;
    flex: 0 0 168px;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: stretch;
    justify-content: flex-end;
    overflow-x: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to top, #1F1E1C, transparent), url("https://placehold.co/168x255");
}

#stories-content .scroll-container > div > img{
    position: absolute;
    z-index: -1;
}

#stories-content .scroll-container > div > p{
    z-index: 1;
}

#stories-content .scroll-button{
    border: 2px solid #808080;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    background-color: #1F1E1C;
    z-index: 5;

}

#stories-content .scroll-button-left {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

#stories-content .scroll-button-right {
    position: absolute;
    right: 3%;
    top: 50%;

    transform: translateY(-50%);
}

#stories-content .scroll-button:hover {
    border-color: white;
}

#stories-content .scroll-container  p{
    padding-left: 0;
    text-align: left;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 1rem;

}


#gallery{
    margin-top: 16px;
    padding: 16px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1F1E1C;
    border-radius: 10px;
}
.gallery-item {
    width: 960px;
    height: 540px;
    background: linear-gradient(to top, #1F1E1C, transparent), url('https://picsum.photos/960/540') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    margin: 10px;

}
.gallery-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    * {
        margin: 18px;
    }
    h1 {
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

}
.gallery-button {
    font-weight: bold;
    background-color: #D03D12;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    i {
        display: none;
    }
}
.gallery-button:hover {
    background-color: rgba(208, 61, 18, 0.7);
}

#magazines {
    background-color: black;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1 {
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
    #magazines-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .scroll-container > div{
        margin: 0 20px;
        justify-self: stretch;
        overflow-x: auto;
        p {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }

    }
    i {
        padding: 0 10px;

    }

}

#footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F2D2B;
    padding: 16px 24px;

    header {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    color: #F1EFED;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap ;
        padding: 16px 24px;
    }

    a {
        font-size: 13px;
        color: #BBB9B7;
        white-space: nowrap;
        text-decoration: none;
        margin: 0 6px;
    }
    a:hover {
        color: #F1EFED;
    }
    i {
        font-size: 20px;
        margin: 0 6px;
    }
}

* {
    box-sizing: border-box;
}
i {
    cursor: pointer;
}
h1 {
    font-size: 36px;
    font-weight: bold;
}

#reg-button .fa-angle-right {
    font-weight: bold;
    font-size: smaller;
}

 h1:hover , h2:hover, .fa-bookmark:hover, #stories p:hover{
     cursor: pointer;
     color: rgba(187, 185, 183, 0.79);

 }

 p:hover {
     cursor: pointer;
 }


@media screen and (max-width: 980px) {
    .main-style {
        width: 100%;
    }


    picture {
        width: 100%;
    }
    #header-logo {
        font-size: 27px;
    }
    #header-buttons *{
        display: none;
    }

    #navigation-bar {
        overflow-x: auto;
    }

    #mobile-nav{
        background-color: #1F1E1C;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 8px 0;
        > i {
            font-size: 20px;
        }
    }

    #rn-content {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        > div {
            flex: 0 0 340px;
        }
    }

    article .big-img-article {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;

    }

    .fixed-image-article {
        display: flex;
        flex-direction: row;
        padding: 16px 24px;
        margin: 15px 0;
        border-radius: 6px;
        > picture, img {
            flex: 2;
            width: 100%;
            height: 100%;
        }
        p {
            font-size: 20px;
            flex: 1;
        }
    }



    .header-small #header-logo {
        font-size: 17px;
    }

    #navigation-bar .scroll-button {
        display: none;
    }

    #sub-group {
        flex-direction: column;
    }

    #sub-group >  div{
        border-right: none;
    }

    #stories .scroll-container > div {
        height: 212px;
        flex: 0 0 140px;
    }

}


@media screen and (max-width: 750px) {
    .main-style {
        width: 550px
    }
    .gallery-item {
        width: 100%;
        height: 300px;
    }

    .big-img-article p {
        font-size: 10px;
    }


    article, .fixed-image-article {
        flex-direction: column-reverse;
        padding: 10px;
    }


    #nav-menu, #nav-search {
        display: none;
    }
    .gallery-content h1{
        font-size: 16px;
    }

    .centered-article{
        div {
            position: static;

        }

    }
    .gallery-button{
        padding: 2px;
        i {
            display: block;
            padding: 0;
        }
        span {
            display: none;
            padding: 0;
        }
    }

}

/* schermi piccoli */
@media screen and (max-width: 550px){
    .main-style {
        width: 100vw;
    }


    main > * {
        margin: 7px 0;
    }

    article {
        margin: 5px 0;
        padding: 6px 9px;
        border-radius: 0;
        h1 {
            font-size: 24px;
        }
    }


    .big-img-article, .fixed-image-article {
        padding: 0 0;
        >div {
            padding: 6px 9px;
        }
        picture {
            flex: 1;
            width: 100vw;
        }
    }

    .small-article h1{
        font-size: 18px;
    }

    .small-article img {
        width: 100px;
    }

    #footer-title nav {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 8px 0;
        > a {
            margin: 6px 8px;
        }
    }

    #footer-title header {
        align-self: flex-start;
    }

    .scroll-button {
        display: none;
    }

    body * {
        border-radius: 0;
    }

}