body {
    margin: 0 auto;
    background-color: black;
    font-family:  Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    transition: all 1s ease;
}

body * {
    box-sizing: border-box;
}



/* Stile per contenuti principale */
.main-style{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-text{
    font-size: small;
    color: #F1EFED;
}

.tooltip .tooltiptext{
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

/* Stili per l'header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #D03D12;
    display: flex;
    padding: 20px;

}

header a{
    color: white;
    text-decoration: none;
}

/*  Quando scroll down */
.header-small {
    padding: 5px;
    font-size: 10px;
}


#header-logo {
    float: left;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

.header-links {
    position: relative;
    font-size: 12px;
    float: right;
    padding: 10px;
}

#link-abbonamento{
    text-decoration: underline;

}
#reg-button{
    background-color: white;
    color: #D03D12;
}

#navigation-bar {
    margin-bottom: 1px;
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: small;
    background-color: #1F1E1C;
    color: #F1EFED;
}

#navigation-bar nav{
    display: flex;
    justify-content: space-between;
}
#navigation-bar a {
    color: #F1EFED;
    text-decoration: none;
}

#nav-menu {
    display: flex;
    justify-self: start;
    border-right: 1px dotted;
    padding-right: 8px;
    margin-top: 2px;
}

#nav-menu > * {
    margin-right: 10px;
    margin-left: 10px;
}

#nav-search {
    display: flex;
    justify-self: end;
    margin-top: 2px;
    border-left: 1px dotted;
    padding-left: 8px;
}

.scroll-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
    overflow-x: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 6px;
}

.scroll-container  * {
    margin-right: 10px;
    margin-left: 10px;
    flex:0 0 auto;
    color: #F1EFED;
}

.scroll-button {
    align-self: center;
    display: inline-block;
    background-color: #1F1E1C;
}

#navigation-bar .scroll-button {
    padding-left: 5px;
    padding-right: 5px;
}



.scroll-button:focus {
    outline: none;
}

::-webkit-scrollbar{
    display: none;
}

#nav-main {
    padding-right: 3px;
    padding-left: 3px;
    margin: 2px;
}

#navigation-bar .scroll-container a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #cecece;
}


#nav-search:hover {
    text-decoration: none;
}

#rn-content {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1px;
    color: #F1EFED;
}

#rn-content > div{
    display: flex;
    flex-direction: column;
    padding:10px 16px;
    flex: 0 0 30%;
    height: 100%;
    font-weight: bolder;
    font-size: 14px;
}


.publication-time {
    font-size: 10px;
    color: #cecece;
}
.news-divisor{
    align-self: center;
    border-right: 1px dotted white;
    height: auto;
}



article {
    display: flex;
    background-color: #1F1E1C;
    flex-direction: row;
    padding: 16px 24px;
    margin: 15px;
    font-size: small;
}

#front-article {
    flex-direction: column-reverse;
}
article > * {
    flex: 1;
    max-width: 100%;
}

article.big-img > img {
    flex: 2;
}

article h1 {
    font-size: 36px;
    font-weight: bold;
    margin: auto 0;
}
article p {
    font-size: 16px;
}


article img{
    background-color: aquamarine;
    max-width: 100%;
    height: auto;
    margin-left: 24px;
}

#galleria-immagini {
    box-sizing: border-box;
    margin: auto;
}

#galleria-immagini img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    align-self: center;
}
.small-article{
    flex-direction: column;
    padding: 10px;
}


.small-article h1 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    margin: auto 0;
}

.articles-group > * {
    margin-top: 0;
    margin-bottom: 0;
}

.articles-group hr {
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}




#stories {
    position: relative;
    width: 100%;
    background-color: #1F1E1C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    overflow-x: auto;
}

#stories::-webkit-scrollbar{
    display: none;
}

/* Elementi Stories */
#stories .scroll-container > div {
    height: 255px;
    padding: 7px;
    flex: 0 0 13%;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: stretch;
    justify-content: flex-end;
    overflow-x: auto;
    background-size: cover;
    background-repeat:  no-repeat;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url("https://placehold.co/200x200/orange/white");
    background-position: center;

}
#stories .scroll-container > div > img{
    position: absolute;
    z-index: -1;
}

#stories .scroll-container > div > p{
    z-index: 1;
}

#stories .scroll-button{
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1F1E1C;
    z-index: 5;
}

/* TODO DA RISCRIVERE/RIVEDERE */
#stories .scroll-button-left {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

#stories .scroll-button-right {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}


#stories-title{
    position: absolute;

}

#stories .scroll-container  p{
    padding-left: 0;

    text-align: left;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 1rem;

}

i {
    cursor: pointer;
}

#footer-content {
    background-color: #2F2D2B;
}

#footer-content nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10px;
}
#footer-content a {
    text-decoration: none;
}



@media screen and (max-width: 500px){
    .main-style{
        width: 390px;
    }

    #header-logo{
        font-size: 27px;
    }

    #navigation-bar {
        overflow-x: auto;
    }

    #rn-content {
        overflow-x: auto;
    }

    #rn-content > div {
        height: initial;
        flex: 0 0 70%;
        font-size: larger;
    }

    article {
        flex-direction: column;
        padding: 10px;
    }

    .header-small #header-logo{
        font-size: 17px;
    }

     #navigation-bar .scroll-button{
        display: none;
    }

    #stories .scroll-container > div {
        height: 212px;
        flex: 0 0 140px;
    }



}
